.header {
  nav {
    background-color: white;
    border-radius: 6 px;
    margin: 20px, 0;
    padding: 15px;
    color: #ff483b
     // display: flex;
      // justify-content: flex-end;
      & a + a,
      span + a {
      margin-right: 13px;
    }
    & div {
      margin-right: auto;
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  }
}

// .container {
//   justify-content: flex-end;
// }

.footer {
  background-color: white;
  border-radius: 6px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid var(--main-bg-color);
}
